*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: din-2014, sans-serif;
}
#navbar{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}
#topNav{
    display: flex;
    background-color: rgb(254,232,232);
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
#topNav>div:first-child>div{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
}
#topNav>div:first-child{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid red; */
    margin-left: 6%;
    gap: 20px;
}
#topNav>div:first-child>h4{
    color: rgb(255,151,151);
    font-size: 12px;
}
#topNav>div:nth-child(2){
    width: 12%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 6%;
    font-size: 14px;
    cursor: pointer;
}
#middleNav{
    display: flex;
    /* border: 1px solid teal; */
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
#middleNav>div:first-child{
    display: flex;
    /* border: 1px solid red; */
    margin-left: 8%;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}
#middleNav>div:first-child>img{
    width: 30%;
}
#middleNav>div:first-child>div{
    width: 68%;
    display: flex;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: rgb(246,246,246);
    padding-left: 10px;
    gap: 15px;
}
#middleNav>div:first-child>div>input{
    width: 100%;
    height: 40px;
    background-color: rgb(246,246,246);
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 10px;
}
#middleNav>div:first-child>div>button{
    border: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
#middleNav>div:first-child>div>button>img{
    width: 25px;
    height: 25px;
    display: block;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
#middleNav>div:nth-child(2){
    display: flex;
    /* border: 1px solid red; */
    gap: 50px;
    margin-right: 8%;
}
#middleNav>div:nth-child(2)>img{
    display: block;
    width: 30px;
    height: 30px;
}
#bottomNav{
    /* border: 1px solid red; */
    height: 70px;
    width: 100%;
}
#bottomNav>ul{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    /* border: 1px solid teal; */
    width: 100%;
    float: left;
    margin: auto;
    margin-top: 20px;
}
ul li{
    float: left;
    list-style: none;
    position: relative;
    font-weight: 500;
}
ul li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 13px;
    padding: 5px 5px;
}
.drop ul{
    width: fit-content;
    display: flex;
    flex-direction: column;
}
ul li a:hover{
    border-bottom: 2px solid rgb(255,151,151);
}
ul li:hover .drop {
    display: flex;
}
.drop{
    display: flex;
    position: absolute;
    left: -150%;
    width: unset;
    width: 91vw;
    margin: auto;
    border: 1px solid red;
    display: none;
    background-color: white;
    padding: 10px;
    gap: 80px;
}
.space{
    margin-top: 10px;
}
.drop1 ul{
    width: fit-content;
    display: flex;
    flex-direction: column;
}
.drop1{
    display: flex;
    position: absolute;
    left: -265%;
    width: unset;
    width: 91vw;
    margin: auto;
    border: 1px solid red;
    display: none;
    background-color: white;
    padding: 10px;
    gap: 80px;
}
ul li:hover .drop1 {
    display: flex;
}
.drop12{
    display: grid;
    grid-template-columns: repeat(4,0.6fr);
    grid-template-rows: auto;
    gap: 10px 10px;
    line-height: 20px;
}
.drop12>div{
    border: 1px solid rgb(224, 216, 216);
    text-align: center;
    padding: 5px;
}
.drop12>div>img{
   width: 85%;
}
.drop12 img+p{
    font-size: 12px;
    font-weight: 600;
}
.drop12 p+p{
    font-size: 10px;
    color: grey;
}
span{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    padding: 0px 50px;
}
span>p:first-child{
    font-weight: 600;
}
span>p:last-child{
    font-size: 14px;
    text-decoration: line-through;
}
.drop2 ul{
    width: fit-content;
    display: flex;
    flex-direction: column;
}
.drop2{
    display: flex;
    position: absolute;
    left: -455%;
    width: unset;
    width: 91vw;
    margin: auto;
    border: 1px solid red;
    display: none;
    background-color: white;
    padding: 10px;
    gap: 80px;
}
ul li:hover .drop2 {
    display: flex;
}
/* SANITIZING CARE */
.drop3 ul{
    width: fit-content;
    display: flex;
    flex-direction: column;
}
.drop3{
    display: flex;
    position: absolute;
    left: -388%;
    width: unset;
    width: 91vw;
    margin: auto;
    border: 1px solid red;
    display: none;
    background-color: white;
    padding: 10px;
    gap: 80px;
}
ul li:hover .drop3 {
    display: flex;
}
.drop32{
    display: grid;
    grid-template-columns: repeat(4,0.6fr);
    grid-template-rows: 280px;
    gap: 10px 10px;
    line-height: 20px;
}
.drop32>div{
    border: 1px solid rgb(224, 216, 216);
    text-align: center;
    padding: 5px;
}
.drop32>div>img{
   width: 85%;
}
.drop32 img+p{
    font-size: 12px;
    font-weight: 600;
}
.drop32 p+p{
    font-size: 10px;
    color: grey;
}
span{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    padding: 0px 50px;
}
span>p:first-child{
    font-weight: 600;
}
span>p:last-child{
    font-size: 14px;
    text-decoration: line-through;
}
/* END OF SANITIZING CARE */
/* COLLECTION */
.drop4 ul{
    width: fit-content;
    display: flex;
    flex-direction: column;
}
.drop4{
    display: flex;
    position: absolute;
    left: -698%;
    width: unset;
    width: 91vw;
    margin: auto;
    border: 1px solid red;
    display: none;
    background-color: white;
    padding: 10px;
    gap: 150px;
}
ul li:hover .drop4 {
    display: flex;
}
.drop42{
    display: grid;
    grid-template-columns: repeat(3,0.6fr);
    grid-template-rows: 280px;
    gap: 10px 10px;
    line-height: 20px;
}
.drop42>div{
    border: 1px solid rgb(224, 216, 216);
    text-align: center;
    padding: 5px;
}
.drop42>div>img{
   width: 85%;
}
.drop42 img+p{
    font-size: 12px;
    font-weight: 600;
}
.drop42 p+p{
    font-size: 10px;
    color: grey;
}
span{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    padding: 0px 50px;
}
span>p:first-child{
    font-weight: 600;
}
span>p:last-child{
    font-size: 14px;
    text-decoration: line-through;
}
/* END OF COLLECTION */
/* STUDIO */
.drop6 ul{
    width: fit-content;
    display: flex;
    flex-direction: column;
}
.drop6{
    display: flex;
    position: absolute;
    left: -712%;
    width: unset;
    width: 91vw;
    margin: auto;
    border: 1px solid red;
    display: none;
    background-color: white;
    padding: 10px;
    gap: 80px;
    height: 300px;
}
ul li:hover .drop6 {
    display: flex;
}
/* END OF STUDIO */
/* REWARDS */
.drop5{
    display: flex;
    position: absolute;
    left: -1048%;
    width: unset;
    width: 91vw;
    margin: auto;
    border: 1px solid red;
    display: none;
    background-color: white;
    padding: 10px;
    gap: 80px;
    height: 300px;
}
ul li:hover .drop5 {
    display: flex;
}
/* END OF REWARDS */
#Carousel{
    width: 100%;
    height: 350px;
    margin-top: 190px;
}
#Carousel>img{
    width: 100%;
    height: 100%;
    margin-top: 5px;
}
#anim{
  position: relative;
  z-index: -5;
}
#anim>div:first-child{
    position: relative;
    z-index: -5;
}
#anim>div:last-child>button{
    position: absolute;
    z-index: 0;
    top: 50%;
    z-index: 3;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    opacity: 0.9;
    cursor: pointer;
}
#anim>div:last-child>button:last-child{
    right: 1%;
}
#anim>div:last-child>button:first-child{
    left: 1%;
}
.common
{
    width: 85%;
    height: 300px;
    margin: auto;
    margin-top: 50px;
}
.common>img{
    width: 100%;
    height: 100%;
}
body>div:nth-child(5)
{
    width: 90%;
    height: 300px;
    margin: auto;
    margin-top: 60px;
    font-size: 20px;
    font-weight: 600;
}

body>div:nth-child(5)>div:first-child>p{
    background-image: linear-gradient(to bottom,white,rgb(255,151,151));
    width: 190px;
    margin: auto;
}
body>div:nth-child(5)>div:last-child{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: auto;
   gap: 0px 30px;
   margin-top: 20px;
}
body>div:nth-child(5)>div:last-child>div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
body>div:nth-child(5)>div>div>img{
    width: 100%;
    height: 100%;
}
#banking{
    width: 95%;
    margin: auto;
    text-align: center;
    margin-top: 60px;
}
#banking>div:first-child>p{
    background-image: linear-gradient(to bottom,white,rgb(255,151,151));
    width: 190px;
    margin: auto;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
}
#banking>div:last-child{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}
#banking>div:last-child>div{
    width: 30%;
    height: 150px;
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#banking>div:last-child>div>img{
    height: 30px;
    width: 100%;
}
#banking>div:last-child>div>img+p{
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}
#banking>div:last-child>div>p+p{
    font-size: 14px;
    margin-top: 20px;
}


