*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: din-2014, sans-serif;
}
#mininav{
    width: 80%;
    border-bottom: 1px solid grey;
    margin: auto;
    text-align: center;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#container{
    width: 80%;
    margin: auto;
    display: flex;
    /* border: 1px solid teal; */
    margin-top: 20px;
    font-family: sans-serif - 400;
    gap: 20px;
    /* justify-content: end; */
}
#sideBar{
    display: flex;
    flex-direction: column;
    width: 25%;
    /* border: 1px solid red; */
}
#sideBar>div:first-child{
    display: flex;
    /* border-top: 1px solid gray; */
    border-bottom: 1px solid gray;
    justify-content: start;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}
#sideBar>div:first-child>img{
    width: 50px;
    height: 50px;
}
#sideBar>div:nth-child(2){
    font-family: din-2014, sans-serif;
    line-height: 23px;
    font-size: 16px;
    font-weight: 600;
    /* margin-top: 20px; */
    border-bottom: 1px solid grey;
    padding-bottom: 18px;
}
#sideBar>div:nth-child(2)>p{
    margin-top: 18px;
    cursor: pointer;
}
#sideBar>div:nth-child(2)>p:nth-child(2){
   font-weight: 400;
}
#sideBar>div:nth-child(2)>p:nth-child(3){
    font-weight: 400;
 }
 #sideBar>div:nth-child(2)>p:nth-child(4){
    font-weight: 400;
 }
 #sideBar>div:nth-child(2)>p:hover{
    color: #bf9b30;
}
#sideBar>div:last-child{
    margin-top: 20px;
    border-bottom: 18px;

}
#sideBar>div:last-child img:first-child{
    width: 35px;
    height: 40px;
}
#sideBar>div:last-child img{
    width: 35px;
    height: 30px;
    cursor: pointer;
}
#sideBar>div:last-child img:hover{
    color: #bf9b30;
}
#sideBar>div:last-child>div{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}
#sideBar>div:last-child>p:first-child{
    font-size: 20px;
    line-height: 22px;
    font-weight: 500;
    margin-top: 20px;
}
#sideBar>div:last-child>p:nth-child(2){
    font-size: 18px;
    color: #777777;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 18px;
    margin-top: 18px;
}
#sideBar div+p{
    font-size: 18px;
    color: #777777;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 18px;
    margin-top: 18px;
}
#sideBar div+p+p{
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}
#sideBar button{
    width: 50%;
    background-color: black;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    margin-top: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}
#sideBar button:hover{
    background-color: #777777;
    transition: background-color 1s;
}
#main{
    width: 75%;
}
#main>div:first-child{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#points{
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
}
#photo{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 3px solid black;
    padding: 10px;
}
#points>div:first-child{
    /* border: 1px solid teal; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    line-height: 29px;
    font-weight: 300;
    padding: 10px;
}
#points>div:last-child{
    /* border: 1px solid red; */
    display: flex;
}
#points>div:last-child>div{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}
#points>div:last-child>div>img{
    width: 20px;
    height: 20px;
}
#points>div:last-child>div img+p{
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
}
#points>div:last-child>div p+p{
    font-size: 12px;
    line-height: 17px;
    font-weight: 300;
}
#userdetails{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#userdetails img{
    width: 18px;
    height: 18px;
}
#userdetails>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#userdetails>div:first-child{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
#userdetails>div:first-child>p:first-child{
    border-right: 1px solid black;
    padding-right: 20px;
}
#userdetails>div:last-child{
    font-size: 12px;
    line-height: 1px;
    font-weight: 400;
}
#userdetails>div:last-child>div{
    border-left: 1px solid black;
    gap: 10px;
}
#info{
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    margin-top: 20px;
    gap: 5%;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #555555;
}
#info>p{
    cursor: pointer;
}
.edit{
    /* border: 1px solid red; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.edit>div{
    width: 40%;
    height: 300px;
    /* border: 1px solid teal; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}
.personalInfo{
    display: none;
    width: 70%;
    /* height: 200px; */
    /* border: 1px solid red; */
    justify-content: space-around;
    padding: 20px;
}
.personalInfo img{
    width: 200px;
    height: 200px;
    /* border: 1px solid red; */
}
.personalInfo>div:last-child{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.personalInfo input{
    height: 40px;
    padding-left: 10px;
    margin-top: 20px;
}
.personalInfo button{
    background-color: black;
    width: 40%;
    color: white;
    height: 40px;
    margin-top: 20px;
    cursor: pointer;
}
.DisplayInfo{
    display: flex;
}
