#display{
    /* margin-top: 17%; */
    width: 85%;
    margin: auto;
}
  
*{
    box-sizing: border-box;
    font-family: din-2014, sans-serif;
}
.heading{
  text-align: center;
  font-weight: bold;
}
#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    
    }
.product{
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    font-size: 20px;
    cursor: pointer;
}
.product:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#container>div>img{
    width: 85%;
}
#container>div>img:hover{
    transform: scale(1.1);
}

.title{
    white-space: nowrap; 
  width: 300px; 
  overflow: hidden;
  text-overflow: ellipsis; 
  font-weight: bold;
  margin-top: 35px;
  font-size: 25px;
}
.use{
    margin: 4px 0 0;
    text-align: left;
    height: 60px;
    opacity: .7;
  width: 300px; 
  margin-top: 20px;
  text-align: justify;
  text-justify: inter-word;
}
.price{
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    font-size: 30px;
    margin-top: 30px;
}
#container>div:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.box:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.heading{
    font-size: 40px;
    background-color: pink;
    
}
.heading1{
    text-align: center;
  font-weight: bold;
}